{% extends "layout.html" %}
{% block body %}


<h2> Still to be Done! </h2>
    {% for task in all_tasks %} 
    {% if task.completed == False %}
        <p>
            Task ID: {{ task.id }}<br>
            Task Name: {{ task.name }}<br>
            <a href="{{ url_for('update_task', id=task.id) }}">Edit</a>
            <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
            <a href="{{ url_for('completed_task', id=task.id) }}">Done!</a>
        <p>
    {% endif %}
    {% endfor %}


<h2> You Done IT! </h2>
{% for task in all_tasks %} 
{% if task.completed == True %}
    <p>
        Task ID: {{ task.id }}<br>
        Task Name: {{ task.name }}<br>
        <a href="{{ url_for('update_task', id=task.id) }}">Edit</a>
        <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
        <a href="{{ url_for('incomplete_task', id=task.id) }}">Not Done!</a>
        <p>
    {% endif %}
    {% endfor %}

{% endblock body %}